<table>
    <tr>
        <td><a href="/PhysicsArcade/">Home</a></td>
        <td><a href="/PhysicsArcade/leaderboard">Leaderboard</a></td>
        <td><a href="/PhysicsArcade/snake">Snake</a></td>
        <td><a href="/PhysicsArcade/physics">Physics Game</a></td>
        <td><a href="/PhysicsArcade/rocket">Rocket Game</a></td>
    </tr>
</table>


<style>
    body {
        background: linear-gradient(white, #b8b8d1);
        display: flex;
        align-items: flex-start;
        justify-content: top;
        flex-direction: column;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
        
</style>