<!-- \\ Localhost
<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/leaderboard">Leaderboard</a></td>
        <td><a href="/snake">Snake</a></td>
        <td><a href="/physics">Physics Game</a></td>
        <td><a href="/about">About Us</a></td>
        <td><a href="/wordproblems">Word Problemz</a></td>
        <td><a href="/rocket">Rocket Game</a></td>
    </tr>
</table>
\\ GitHub Pages-->

<!DOCTYPE html>
<html>
    <body>
        <!--the header section or the top part of every page-->
        <section class="header">
            <nav>
                <!--the logo on the header-->
                <h2></h2>
                <div class="nav-links">
                    <ul>
                        <!--the links to the other pages-->
                        <li><a href="{{ site.baseurl }}/">HOME</a></li>
                        <li><a href="{{ site.baseurl }}/leaderboard.html">Leader Board</a></li>
                        <li><a href="{{ site.baseurl }}/snake.html">Snake</a></li>
                        <li><a href="{{ site.baseurl }}/physics.html">Physics Game</a></li>
                        <li><a href="{{ site.baseurl }}/rocket.html">Rocket Game</a></li>
                        <li><a href="{{ site.baseurl }}/word.html">Word Problems</a></li>
                        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </body>
</html>


